//body, html {
//    font-size: 62.5%;
//}

@font-face {
    font-family: 'Beausite';
    font-style: normal;
    font-weight: 400;
    src: local("Beausite"),url(../fonts/BeausiteClassicWeb-Clear.woff) format("woff"),url(../fonts/BeausiteClassicWeb-Clear.woff2) format("woff2");
}

@font-face {
    font-family: 'Beausite';
    font-style: normal;
    font-weight: 600;
    src: local("Beausite"),url(../fonts/BeausiteClassicWeb-Medium.woff) format("woff"),url(../fonts/BeausiteClassicWeb-Medium.woff2) format("woff2");
}

:root {
    --lwc-colorBackgroundToastError: #F51D27 !important;
    --lwc-colorTextError: #F51D27 !important;
    --lwc-colorBackgroundPathLost: #F51D27 !important;
    --lwc-colorTextDestructive: #F51D27 !important;
    --lwc-colorBorderError: #F51D27 !important;
    --lwc-colorBackgroundPathActive: #212121 !important;
    --lwc-colorBackgroundPathComplete: #00D75E !important;
    --lwc-fontSize1: 1rem !important;
    --lwc-fontSize2: 1.2rem !important;
    --lwc-fontSize3: 1.3rem !important;
    --lwc-fontSize5: 1.6rem !important;
    --lwc-fontSize4: 1.4rem !important;
    --lwc-fontSize7: 2rem !important;
    --lwc-fontSize6: 1.8rem !important;
    --lwc-spacingMedium: 1.6rem !important;
    --lwc-heightSalesPath: 3.2rem !important;
    --lwc-spacingXSmall: 0.8rem !important;

    --lwc-colorPickerSelectorWidth: 22.4rem !important;
    --lwc-nubbinSizeDefault: 1.6rem !important;
    --lwc-varSpacingHorizontalSmall: 1.2rem !important;
    --lwc-colorPickerSliderHeight: 2.4rem !important;
    --lwc-heightFooter: 6rem !important;
    --lwc-fontSizeTextXxSmall: 1rem !important;
    --lwc-lineHeightButtonSmall: 2.8rem !important;
    --lwc-brandBandImageHeightMedium: 20rem !important;
    --lwc-welcomeMatSpacingInfo: 12.4rem !important;
    --lwc-sizeMedium: 32rem !important;
    --lwc-squareTappableSmall: 3.2rem !important;
    --lwc-welcomeMatCheckSize: 1rem !important;
    --lwc-welcomeMatWidth: 83.3rem !important;
    --lwc-varSpacingLarge: 2.4rem !important;
    --lwc-formLabelFontSize: 1.2rem !important;
    --lwc-fontSizeTextXLarge: 2rem !important;
    --lwc-squareIconUtilitySmall: 1.6rem !important;
    --lwc-widthStageLeftCollapsed: 6.4rem !important;
    --lwc-squareIconXSmallBoundary: 2rem !important;
    --lwc-fontSizeHeadingXLarge: 2.8rem !important;
    --lwc-fontSizeHeadingXxSmall: 1rem !important;
    --lwc-spacingXxxSmall: 0.2rem !important;
    --lwc-pageHeaderSpacingMargin: 0 !important;
    --lwc-varSpacingVerticalXxSmall: 0.4rem !important;
    --lwc-varSpacingVerticalLarge: 2.4rem !important;
    --lwc-sizeSmall: 24rem !important;
    --lwc-varSpacingHorizontalXxSmall: 0.4rem !important;
    --lwc-varSpacingMedium: 1.6rem !important;
    --lwc-varSpacingXxLarge: 4.8rem !important;
    --lwc-varSpacingXxSmall: 0.4rem !important;
    --lwc-heightHeader: 5rem !important;
    --lwc-welcomeMatFontSizeInfoTitle: 4.2rem !important;
    --lwc-sizeXLarge: 64rem !important;
    --lwc-varSquareIconMediumBoundary: 3.2rem !important;
    --lwc-varSpacingHorizontalXLarge: 3.2rem !important;
    --lwc-squareIconSmallBoundary: 2.4rem !important;
    --lwc-sizeXxLarge: 96rem !important;
    --lwc-sizeXxxSmall: 4.8rem !important;
    --lwc-fontSizeMedium: 1.3rem !important;
    --lwc-brandBandImageHeightSmall: 9.6rem !important;
    --lwc-fontSizeMediumA: 1.4rem !important;
    --lwc-borderRadiusMedium: 0.4rem !important;
    --lwc-squareIconXxSmallBoundary: 1.6rem !important;
    --lwc-squareIconMediumBoundary: 3.2rem !important;
    --lwc-cardSpacingLarge: 2.4rem !important;
    --lwc-cardSpacingMargin: 1.6rem !important;
    --lwc-squareIconXxSmallContent: 1.4rem !important;
    --lwc-sizeXSmall: 19.2rem !important;
    --lwc-splitViewWidth: 40rem !important;
    --lwc-sizeLarge: 40rem !important;
    --lwc-squareIconLarge: 5rem !important;
    --lwc-spinnerSizeXSmall: 1.6rem !important;
    --lwc-sliderHandleSize: 1.6rem !important;
    --lwc-sliderTrackHeight: 6.4px !important;
    --lwc-squareIconMedium: 3.2rem !important;
    --lwc-fontSizeXSmall: 1rem !important;
    --lwc-varSpacingXxxSmall: 0.2rem !important;
    --lwc-fontSizeXxLarge: 2.8rem !important;
    --lwc-squareTappable: 4.4rem !important;
    --lwc-heightInput: 3rem !important;
    --lwc-fontSizeSmall: 1.2rem !important;
    --lwc-inputStaticFontSize: 1.3rem !important;
    --lwc-squareIconMediumContent: 1.6rem !important;
}

#lightningLocator {
    color: #212121;
    font-size: 1.6rem !important;

    * {
        font-family: 'Beausite', Helvetica, Arial, sans-serif;
    }

    .flowRuntimeV2 {
        position: relative;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Beausite', Helvetica, Arial, sans-serif;
        font-weight: 600;
        color: #212121;
    }

    h1 {
        font-size: 38px;
        line-height: 1.5;
    }

    h2 {
        font-size: 28px;
        line-height: 1.5;
    }

    h3 {
        font-size: 24px;
        line-height: 1.5;
    }

    h4 {
        font-size: 20px;
        line-height: 1.5;
    }

    h5 {
        font-size: 18px;
        line-height: 1.5;
    }

    h6 {
        font-size: 16px;
        line-height: 1.5;
    }

    .slds-text-body_regular {
        font-size: 1.6rem;
        line-height: 1.5;
        color: #212121;
    }

    .slds-visual-picker {
        &_vertical .slds-visual-picker__figure {
            height: auto !important;
        }

        input:checked ~ label {
            .slds-visual-picker__text {
                border-color: #212121;
                box-shadow: 0 0 0 1px #212121 inset;

                &:after {
                    border-right-color: #212121;
                    border-top-color: #212121;
                    border-width: 1.6rem;
                }
            }
        }

        input:not(:disabled)~label:hover {
            .slds-visual-picker__figure {
                border-color: #212121;
                box-shadow: 0 0 0 1px #212121 inset;
            }
        }

        &__text-check {
            top: 0.3rem;
            right: 1.3rem;

            svg {
                vertical-align: baseline;
            }
        }
    }

    .slds-button {
        &.slds-button_neutral {
            color: #212121;
        }
    }

    .slds-path__nav .slds-is-incomplete .slds-path__link {
        text-decoration: none;
    }

    .slds-radio_button {
        color: #212121;

        .slds-radio_button__label {
            box-shadow: none;
        }

        [type=radio]:checked+.slds-radio_faux,
        [type=radio]:checked+.slds-radio--faux,
        [type=radio]:checked~.slds-radio_faux,
        [type=radio]:checked~.slds-radio--faux,
        [type=radio]:checked+.slds-radio_button__label,
        [type=radio]:checked+.slds-radio--button__label {
            background-color: #212121;
        }
    }

    .slds-radio--button {
        [type=radio]:checked+.slds-radio_faux,
        [type=radio]:checked+.slds-radio--faux,
        [type=radio]:checked~.slds-radio_faux,
        [type=radio]:checked~.slds-radio--faux,
        [type=radio]:checked+.slds-radio_button__label,
        [type=radio]:checked+.slds-radio--button__label {
            background-color: #212121;
        }
    }

    .slds-input-has-icon .slds-input__icon.searchIcon {
        top: 70%;
    }

    .runtime_appointmentbookingFlowReview .section-header-title {
        color: #212121;
    }

    .uiAutocompleteList .googleLogo {
        display: none;
    }

    .runtime_appointmentbookingFlowLocation {
        .uiInput--input {
            width: 100%;
            height: calc(var(--lwc-heightInput,3rem) + (var(--lwc-borderWidthThin,1px) * 2));
            padding: 0.8rem;
        }
    }

    .slds-text-heading_medium {
        color: #212121;
    }

    .uiInput--lookup .lookup__item.highlighted a {
        background-color: #212121;
        color: #ffffff !important;
    }

    .uiInput--lookup .lookup__item.highlighted a .uiOutputText {
        color: #ffffff !important;
    }

    .slds-rich-text-editor__output #operating-hours,
    .slds-rich-text-editor__output #holidays {
        font-size: 13px !important;
        color: #7b7b7b !important;
        margin-bottom: 24px;
    }

    .actionButtonBar {
        .flow-button__NEXT,
        .flow-button__FINISH {
            font-family: 'Beausite', Helvetica, Arial, sans-serif;
            background-color: #212121;
            border-color: #212121;
            border-radius: 0.4rem;
            height: 4.8rem;
            line-height: 4.8rem;
            padding: 1.6rem 2.4rem 1.6rem 1.6rem;
            transition: background-color 0.2s ease-in-out;
            font-size: 1.6rem;
            margin-left: 1.6rem;

            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                margin-bottom: 2px;
                width: 8px;
                height: 8px;
                background-color: #00D75E;
                border-radius: 50%;
            }

            &:hover {
                background-color: #212121;
                box-shadow: 0 0 8px #00D75E;
            }

            &:focus {
                box-shadow: none;
            }
        }

        .flow-button__BACK {
            border-radius: 0.4rem;
            color: #212121;

            &:hover {
                background-color: #ffffff;
                box-shadow: 0 0 8px #00D75E;
                border-color: #00D75E;
            }
        }
    }

    .forceAddressAutocomplete {
        .logoFooter {
            display: none;
        }
    }

    .runtime_appointmentbookingFlowWorkType .responsiveCard {
        max-width: 40rem;
    }


    .slds-path__item {
        margin-left: 0.6rem;
        margin-right: 0.7rem;
        min-width: 8rem;

        &:after {
            height: 1.6rem !important;
        }
    }

    .slds-path__item:first-child:before,
    .slds-path__item:first-child:after {
        left: 1.8rem;
    }

    .slds-path__item:before,
    .slds-path__item:after {
        right: -0.5rem;
        left: -0.5rem;
    }

    .slds-input__icon-group {
        margin-top: -1rem;
    }
}
